*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a{ 
    margin: 0;
    padding: 0;
    
}

h1,h2,p{
    color:575757;
}

    /* h1{
    font-size:3rem;
    } */
h2{
    font-size: 2rem;
}
p{
    font-size: 1.5 rem;
}
a{
    font-size: 1.2 rem;
    text-decoration: none;
}

.orange{
    background: -webkit-linear-gradient(#FBA24F, #FF1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flexible-container{
    box-sizing: border-box;
    display: flex;
    
}
.half-width{
    width: 50%;
}



section{
    padding: 0px;

}

/* section:nth-child(odd){
    background-color: #685555;
} */


/* Navigation Part */

.nav{
    background: rgb(44,112,204);
    background: linear-gradient(90deg, rgba(44,112,204,1) 13%, rgba(73,20,153,1) 47%, rgba(10,63,166,1) 100%);
    height: 30px;
    overflow: hidden;
    width: 100%;
    padding: 2%;
    position:fixed;
}

.nav ul{
    list-style: none;
    justify-content: space-around;
    margin-top:-5px;
}
.nav ul li a{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;

}
.nav ul li a:hover{
    
    font-size: 120%;
    color: orangered;

}



/* Header part */

.header{
    height: 100vh;
    padding: 10% 10%;
    overflow: hidden;
    /* background-color: red; */
    background-image: url(img/shapes/Frame58.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden;
}

.header-content{
    padding:5%;
}

.header-content h1{
    font-weight:bolder;
    margin-bottom: 50px;
    
    font-size:3rem;
    line-height: 130%;
    letter-spacing: -2%;
}

.header-content p{
    font-weight:bolder;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 80px; 
}

.orange-button{
    padding: 20px;
    background: -webkit-linear-gradient(#FBA24F, #FF1E1E);
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: -2px 2px 22px #fb624f;
 
}

.orange-button:hover{

    background: -webkit-linear-gradient(#dd9f65, #e04b4b);


 
}

.header-image{
    align-self: center;
}

.header-image img{
    width: 100%;
    background-image: url(img/shapes/Group8447.png);
    background-repeat: no-repeat;
    background-size:60%;
    background-position:center;
    /* margin: 59px 157px; */

 
}

/* About section */

.about{
    background-image: url(img/shapes/Frame56.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:70vh;
    overflow: hidden;
}


.about-image img{
    
    width: 45%;
    margin: 14% 33%;
}

.about-content{
    padding:5% 10%;
}
.about-content h2{
   margin-bottom: 50px;
  

}
.about-content p{
    margin-bottom: 60px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.1rem;
 }

 /* Reciepies section */

 .recipies{
    margin-top:20px; 
 }
 .recipies-title{
     width: 40%;
     margin:50px auto;
 }
 .recipies h2, .recipies p{
     text-align: center;
     margin-bottom: 20px;
 }

 

 .recipies-card{
     width: 80%;
     margin: 50px auto;
     justify-content: space-around;
 }
 .card{
     width:30%;
     box-shadow: -2px 2px 22px #888888;
     border-radius: 30px;
     padding:10px;
     
 }
 .card img{
     width: 100%;
     height: 400px;
     border-radius: 25px;
 }
 .card h2, .card p{
     text-align: left;
     width: 100%;
     margin-top:20px;
 }

 /* Subscribe Counters  */
 .subscibe-counter{
    width: 80%;
    margin: 100px auto;
    justify-content: space-around;
    box-shadow: -2px 2px 22px #888888;
    padding: 5%;
    border-radius: 30px;
 }
 .counter{
     width: 30%;
 }
 .counter h2{
     font-weight: bold;
     text-align: center;
     font-size: 3rem;
 }
 .counter p{
    font-weight: bold;
    text-align: center;
}

/* Contact part */

.contact{
    /* width: 80%; */
    padding:5% 0;   
    justify-content: space-around;
    background-color: antiquewhite;
}

.contact-form{
    box-shadow: -2px 2px 22px #8888;
    border-radius: 30px;
    padding: 20px;
}

.contact-form h2{

    margin:50px 0px;
    text-align: center;

}

.form-row{
    margin:10px;
}
.form-row label{
    width: 200px;
    margin-right: 10px;
    font-weight: bold;
    display: block;
}
.form-row input{
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top:10px;
}
.form-row textarea{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top:10px;
}

.contact-address h2{
    margin:50px 0px;
    text-align: center;
}
.contact-address address{
    font-weight: bold;
    text-align: left;
    font-size:20px;
    line-height: 2.5rem;
}


/* Footer part */

.footer{
    background-color: #0B0D17;
    height: 200px;
    padding:4% 0;
}

.footer h2{
    text-align:center;
    color:#5B5B5B;
    margin-bottom:20px;
    text-transform: uppercase;
  
}
.footer p{
    text-align:center;
    color:#fff;
    margin-bottom:20px;
    font-size: 1.1em;
    font-weight: bold;
}